h1{ 
    color: green; 
    background-color: tomato; 
} 
p{ 
    background-color: goldenrod; 
    width: 38%; 
    text-align: justify; 
    height: 200px; 
    font-family: 'Hurricane', cursive; 
    
        
    }
}